# temporary files and cache directories
.DS_Store
.temp/

# mdBook files
book/
*~
target
tmps

# Obsidian files
.obsidian
.trash

### IDE ###
.idea
.vscode
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
